[submodule "simple-js-skeleton"]
	path = simple-js-skeleton
	url = git@github.com:campbell/simple-js-skeleton.git
[submodule "todomvc"]
	path = todomvc
	url = git://github.com/addyosmani/todomvc.git
[submodule "basic-js-app"]
	path = basic-js-app
	url = git@github.com:campbell/basic-js-app.git
